<%= content_for :header_title do %>
    About us
<% end %>    
<%= content_for :header_sub_title do %>
    Who we are
<% end %>

<h1>Our history</h1>
<p>A summary of how we became a first class restaurant.</p>
