<%= content_for :header_title do %>
    Contact us
<% end %>    
<%= content_for :header_sub_title do %>
    Who tou can find them
<% end %>

<h1>Pages#contact_us</h1>
<p>Find me in app/views/pages/contact_us.html.erb</p>
