<%= content_for :header_title do %>
    Terms of Services
<% end %>    
<%= content_for :header_sub_title do %>
    Imprtant information about our offer
<% end %>

<h2>What you can expect from us</h2>
